<p>
    <a (click)="showCreate=!showCreate">Add New Car</a>
</p>

<div *ngIf="showCreate">
    <form>
        <h4>Car</h4>
        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Name</label>
            <div class="col-md-10">
                <input #Name class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Type">Type</label>
            <div class="col-md-10">
                <input #Type class="form-control text-box single-line" id="Type" name="Type" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Type" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Engine">Engine</label>
            <div class="col-md-10">
                <input #Engine class="form-control text-box single-line" id="Engine" name="Engine" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Engine" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Color">Color</label>
            <div class="col-md-10">
                <input #Color class="form-control text-box single-line" id="Color" name="Color" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Color" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="NumberOfDoors">Number of doors</label>
            <div class="col-md-10">
                <input #NumberOfDoors class="form-control text-box single-line" data-val="true" data-val-number="The field Number of doors must be a number." data-val-required="The Number of doors field is required." id="NumberOfDoors" name="NumberOfDoors" type="number" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="NumberOfDoors" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input (click)="AddCar(Name.value,Type.value,Engine.value,Color.value,NumberOfDoors.value)" type="submit" value="Add Car" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Engine
        </th>
        <th>
            Color
        </th>
        <th>
            Number of doors
        </th>
    </tr>
    <tr *ngFor="let car of cars; let last=last">
        <td><strong *ngIf="last">(THE LAST)</strong>{{car.Name}}</td>
        <td>{{car.Type}}</td>
        <td>{{car.Engine}}</td>
        <td>{{car.Color}}</td>
        <td>{{car.NumberOfDoors}}</td>
        <td>
            <a href="/Car/Edit/{{car.CarId}}">Edit</a> | 
            <a href="/Car/Delete/{{car.CarId}}">Delete</a> | 
        </td>
    </tr>
</table>

